.rec1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.rectangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.Rec5 {
  position: absolute;
  bottom: 0;
  left: 1px;
  z-index: -1;
}
@media (max-width: 921px) {
  .login {
    flex-direction: column-reverse;
  }
  .rectangle {
    display: none;
  }
  .rec1 {
    display: none;
  }
  .Rec5 {
    display: none;
  }
}
