.button {
  background: #656ed3;
  color: White;
  width: 20rem;
  padding: 2px;
}
.input {
  width: 20rem;
  padding: 2px;
}
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  border-width: 1px, 1px, 1px, 1px;
  border-style: solid;
  border-color: #ffffff;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
  min-width: 15rem;
  background: rgba(175, 179, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
}
button {
  right: 9px;
  top: 2px;
}
